<div class="container">
  <app-navbar (logout)="logout()"></app-navbar>

  <div class="flex full-width">
    <div class="list-container">
      <h3>Todo</h3>

      <div class="new-item-input">
        <input type="text" placeholder="New Task" (keypress)="createTask($event)">
      </div>

      <div class="list">
        <mat-card class="list-item" *ngFor="let task of tasks$ | async">
          <div class="flex full-height">
            <div class="list-item__checkbox-area">
              <div class="list-item__checkbox" (click)="clearTask(task)"></div>
            </div>
            <div class="list-item__desc list-item__desc--task" (click)="openDialog(task)">
              <div class="list-item__text">{{ task.title }}</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="list-container">
      <h3>Rewards</h3>

      <div class="new-item-input">
        <input type="text" placeholder="Add a Reward" (keypress)="createReward($event)">
      </div>

      <div class="list">
        <mat-card class="list-item" *ngFor="let reward of rewards$ | async">
          <div class="flex full-height">
            <div class="list-item__desc list-item__desc--reward">
              <div class="list-item__text">{{ reward.name }}</div>
            </div>
            <div class="list-item__cost">
              <mat-icon>monetization_on</mat-icon>
              <div class="list-item__coin-text">{{ reward.cost }}</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

