<div class="container flex-col align-center justify-center">

  <mat-card class="login-form-card">
    <div class="full-height flex-col justify-around">
      <h1 class="login-form-card__header">Todoitica</h1>
      <div class="login-form-card__container flex-col align-center justify-around">
        <h1>Sign in Options:</h1>

        <div class="social-btns flex-col align-center">
          <button mat-raised-button class="social-btn social-btn--google"><img src="assets/images/google.png"><span>Google</span></button>
        </div>

      </div>
    </div>
  </mat-card>

</div>
