.container {
  height: 100%;
  width: 100%;
}

.login-form-card {
  width: 20%;
  height: 40%;
}

.login-form-card__container {
  height: 100%;
}

.social-btns {
  min-height: 50%;
  width: 100%;
}

.social-btn {
  width: 75%;
}

.social-btn--google {

  img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}
