
// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$background-color: mat-color($app-primary, 0.9);
$card-color: mat-color($app-primary, 0.8);

.container {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  background-color: $background-color;
  color: white;
}

.login-form-card {
  width: 30%;
  height: 60%;
  background-color: $card-color;
  color: white;

}

.login-form-card__header {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.social-btns {
  min-height: 50%;
  width: 100%;
}

.social-btn {
  width: 75%;
  margin-top: 0.5rem;
}

.social-btn--google {

  img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}
