.container {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 90%;
}

.login-form-card {
  width: 20%;
  height: 40%;
}

.login-form-card__header {
  font-size: 2rem;
  text-align: center;
}

.social-btns {
  min-height: 50%;
  width: 100%;
}

.social-btn {
  width: 75%;
  margin-top: 0.5rem;
}

.social-btn--google {

  img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}
