<div class="content">
  <div class="top-content">
    <div class="top-content__header flex justify-between">
      <h3>{{ headerText }}</h3>

      <div class="buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-stroked-button (click)="save()">Save</button>
      </div>
    </div>

    <div class="top-content__title">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Add a title" [value]="object.name" #title>
      </mat-form-field>
    </div>
    <div class="top-content__notes">
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="Add notes" rows="4"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="bottom-content">
    <div class="bottom-content__delete-btn">
      <button mat-button color="warn">
        <div class="button-text" (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>{{ deleteText }}</span>
        </div>

      </button>
    </div>

  </div>

</div>

